@import "tailwindcss";
* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f9fafb; /* light gray background */
  margin: 0;
  padding: 0;
  max-height: 100vh;
  scroll-behavior: smooth;
}
